/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: bottom;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.lh-28 {
  line-height: 28px;
}

.lh-30 {
  line-height: 30px;
}

.lh-32 {
  line-height: 32px;
}

.lh-33 {
  line-height: 33px;
}

.lh-36 {
  line-height: 36px;
}

.color-white {
  color: white;
}

.flex {
  display: flex;
}

.flex-sb {
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-56 {
  margin-top: 56px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-68 {
  margin-top: 68px;
}

.pt-28 {
  padding-top: 28px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-144 {
  padding-bottom: 144px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pt-56 {
  padding-top: 56px;
}

.font-init {
  font-style: initial;
  font-weight: initial;
}

header {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week2/banner.png);
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  line-height: 106px;
  font-size: 80px;
}

h2 {
  font-size: 64px;
  line-height: 84px;
}

header .container {
  width: 304px;
  padding: 308px 0px;
}

h1,
h2,
p,
.eng-text {
  font-style: italic;
  font-weight: bold;
}

.about.container {
  width: 412px;
  text-align: center;
}

.exps {
  width: 384px;
  border-top: 1px solid black;
  display: inline-block;
}

.exps li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exps li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 1rem;
  margin-right: 16px;
}

.li-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 1rem;
}

.mybrand {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.brand-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-work.container {
  text-align: center;
}

.other-work-items {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 0px;
  justify-content: space-between;
}

.other-work-items h3 {
  margin-top: 16px;
}

footer {
  background-color: #000;
}

footer .container {
  width: 315px;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=all.css.map */
