header {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week2/banner.png);
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  line-height: 106px;
  font-size: 80px;
}

h2 {
  font-size: 64px;
  line-height: 84px;
}

header .container {
  width: 304px;
  padding: 308px 0px;
}

h1,
h2,
p,
.eng-text {
  font-style: italic;
  font-weight: bold;
}

.about.container {
  width: 412px;
  text-align: center;
}

.exps {
  width: 384px;
  border-top: 1px solid black;
  display: inline-block;
}

.exps li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exps li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 1rem;
  margin-right: 16px;
}

.li-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 1rem;
}

.mybrand {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.brand-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-work.container {
  text-align: center;
}

.other-work-items{
  display: flex;
  flex-wrap: wrap;
  gap: 48px 0px;
  justify-content: space-between;
}

.other-work-items h3 {
 margin-top: 16px; 
}

footer {
  background-color: #000;
}

footer .container {
  width: 315px;
  margin: 0 auto;
  text-align: center;
}
